### external repos

external/DDSLoader/
external/cgltf/
external/nooice/
external/sokol-tools-bin/
external/sokol-zig/
external/zigimg/

### zig ###
# Zig programming language

zig-cache/
build/
build-*/
docgen_tmp/
